<mat-card>
    <mat-card-title class="header">
        What do you get with ABC?
    </mat-card-title>
    <p class="dialog">
        Whether your dog is just begining it's journey to better behaviour
        or you are looking to take things to the next level, we have a service
        package that is guaranteed to get you and your companion where you want to be.
    </p>
    <mat-accordion *ngIf="services">
        <mat-expansion-panel *ngFor="let service of services" class="service-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ service.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                {{ service.description }}
            </p>
            <mat-list role="list">
                <mat-list-item *ngFor="let bullet of service['bullet-points']" role="listitem">
                    {{ bullet }}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-card-actions class="actions">
        <button mat-raised-button color="accent">
            Show me more!
        </button>
    </mat-card-actions>
</mat-card>