<mat-card class="summary-section">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>John McDaniel</mat-card-title>
        <mat-card-subtitle>Professional Behavioral Specialist</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img mar-card-image class="trainer-image" src="./assets/images/about/john_landscape.jpg">
        <p>
            Need help with a dog that has some behavioral issues?
            My name is John McDaniel and I am a Professional Dog Trainer in Orlando 
            serving all of Orange County in Florida and my goal is to bring you and your dog closer.
        </p>
    </mat-card-content>
</mat-card>
