.summary-section {
    max-width: 1000px;
    margin: auto;
    height: auto;
}

.trainer-image {
    width: 100%;
    vertical-align: middle;
}

p {
    padding: 1em 0;
}
  
.header-image {
    background-image: url('src/assets/images/about/john_avatar.jpg');
    background-size: cover;
}