<mat-card class="summary-section">
    <img class="trainer-image" src="./assets/images/about/john.jpg">

    <p>
        Sometimes it's difficult to know where to turn for help when your dog 
        has behaviors that you do not want. It takes time and care when training 
        a dog and with the right guidance, dog obedience is possible. 
        That's why I created A Better Companion In-Home Dog Training. 
        My name is John McDaniel and I am a Professional Dog Trainer in Orlando 
        serving all of Orange County in Florida and my goal is to bring you and your dog closer.
    </p>
</mat-card>