* {
    box-sizing: border-box;
  }

  .container {
      min-height: min-content;
  }
  
  .bg-img {
    background-image: url("src/assets/images/contact/contact.jpg");
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  // Causing overflow issues
  .form-container {
    position: absolute;
    top: 0;
    // left: 0;
    right: 0;
    bottom: 0;
    margin: 2em;
    max-width: 300px;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0, 0.3);
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 1em;
    margin: .5em 0 1.5em 0;
    border: none;
    background: white;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: lightgray;
    outline: none;
  }
  
  .btn {
    padding: 1em;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  h2 {
      font-size: 2em;
      margin: auto;
      padding: .5em;
      text-align: center;
  }