.home-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10em;
}

.app-container {
    height: auto;
    padding: 0px;
}

.summary-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  justify-content: space-around;
  margin: 0 2em;
}

@media (max-width: 960px) {
  .summary-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    margin: 0;
  }
}