.home-container {
    display: grid;
    grid-gap: 2em;
}

.summary-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  margin: 0 2em;
}

@media (max-width: 960px) {
  .summary-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    margin: 0;
  }
}