.home-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10em;
}

.app-container {
    height: auto;
    padding: 0px;
}

.summary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
  flex: 33%;
  max-width: 33%;
}

@media (max-width: 960px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}